button{
  margin: 5px 5px 5px 5px;
  height: 40px;
  width: 60px;
  background-color: rgb(33, 236, 33);
  font-size: xx-large;
  border-radius: 7px;
  cursor: pointer;
}

#display{
  height: 50px;
  width: 210px;
  margin-bottom: 20px;
}

#clear{
  background-color: red;
  height: 50px;
}
